
.nav-link:hover {
    border: 3px solid #F4538A; 
    padding: 8px; 
    border-radius: 5px; 
    background-color: #F4538A;
}


    



.custom-overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Blackish background with 70% opacity */
    background-attachment: fixed; /* Fixed background */
}

.icon {
    font-size: 50px;
    color: #F4538A;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}




