@import url(https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap);
.nav-link:hover {
    border: 3px solid #F4538A; 
    padding: 8px; 
    border-radius: 5px; 
    background-color: #F4538A;
}


    



.custom-overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Blackish background with 70% opacity */
    background-attachment: fixed; /* Fixed background */
}

.icon {
    font-size: 50px;
    color: #F4538A;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 768px) {
    body{
       justify-content: center;
    }
    .box1{
        display: none;
    }
    .card2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tab{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .foot{
       text-align: center;
    }
    .foot1{
       text-align: center;
    }
}
@media (max-width: 1208px){
    .tab{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .first{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
}